
@{
    ViewBag.Title = "Login_Success";
}

<h2>Login Berhasil</h2>
<a href="@Url.Action("SetDataInDataBase", "Register")">Logout</a>
<br />
<h4>
    <a href="@Url.Action("ShowDataBaseForUser", "Register")">Lihat Daftar Akun</a>
   
</h4>

